/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:hover {
  transition: all 0.2s;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after,
  *:hover {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  html {
    scroll-behavior: initial;
  }
}
:root {
  --color-pink: hsl(322, 100%, 66%);
  --color-very-pale-cyan: hsl(193, 100%, 96%);
  --color-very-dark-cyan: hsl(192, 100%, 9%);
  --color-grayish-blue: hsl(208, 11%, 55%);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

img {
  display: inline-block;
  height: auto;
}

header {
  background-color: var(--color-very-pale-cyan);
}

section {
  padding-block: 3rem;
}
section.overflow {
  position: relative;
  margin-top: 3rem;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

.container {
  padding-inline: 1rem;
}
.container--p-unset {
  padding-inline: 0;
}

.footer {
  color: rgba(255, 255, 255, 0.8);
  background-color: var(--color-very-dark-cyan);
  padding: 9rem 1rem 2rem 1rem;
}
.footer__logo {
  width: 160px;
}
.footer__logo path {
  fill: white;
}
.footer__copyright {
  font-size: 12px;
  text-align: center;
  margin-block: 2rem;
}

.mb-xs-3 {
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .mb-xs-3 {
    margin-bottom: 0;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }
  .row ul:first-child {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .row ul:first-child {
    width: 400px;
  }
  .footer__copyright {
    text-align: right;
  }
}
.card {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  background-color: white;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
}
.card:not(:last-of-type) {
  margin-bottom: 2rem;
}
.card__title {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-very-dark-cyan);
}
.card__text {
  font-size: 14px;
  color: var(--color-grayish-blue);
  margin-bottom: 0;
}
.card--pre-footer {
  display: block;
  margin-bottom: -110px;
  max-width: 90%;
  margin-inline: auto;
  text-align: center;
}
.card--pre-footer__text {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1.4rem;
}

@media screen and (min-width: 768px) {
  .card {
    flex-wrap: nowrap;
    align-items: center;
    padding-inline: 6rem 2rem;
    text-align: left;
  }
  .card__image, .card__content {
    flex: 1 1 50%;
  }
  .card:nth-child(odd) .card__image {
    text-align: right;
    order: 2;
  }
  .card--pre-footer {
    padding: 2rem;
    text-align: center;
    width: 60%;
  }
  .card--pre-footer__text {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 991px) {
  .card--pre-footer {
    width: 35%;
  }
}
.hero {
  text-align: center;
  padding-inline: 2rem;
}
.hero--background {
  background-color: var(--color-very-pale-cyan);
  background-image: url(images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
}
.hero__right {
  margin-top: 3rem;
}
.hero__title {
  color: var(--color-very-dark-cyan);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.hero__text {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    align-items: center;
    gap: 3rem;
    text-align: left;
  }
  .hero--background {
    background-image: url(images/bg-hero-desktop.svg);
  }
  .hero__left {
    flex: 1 1 50%;
  }
  .hero__right {
    flex: 1 1 50%;
  }
  .hero__title {
    font-size: 2.2rem;
  }
  .hero__text {
    font-size: 1rem;
    color: var(--color-very-dark-cyan);
  }
}
@media screen and (min-width: 991px) {
  .hero__left {
    flex: 1 1 40%;
  }
  .hero__right {
    flex: 1 1 60%;
  }
}
.list {
  list-style: none;
  padding-left: 0;
}
.list li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.list li:not(:last-of-type) {
  margin-bottom: 1rem;
}
.list__link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
.list__link:hover {
  text-decoration: underline;
}
.list__icon {
  margin-top: 0.3rem;
}
.list.list--social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.list.list--social-links .list__icon--social {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 0.5rem;
  width: 35px;
  height: 35px;
}
.list.list--social-links .list__icon--social path {
  fill: white;
}
.list.list--social-links .list__icon--social:hover {
  border-color: var(--color-pink);
}
.list.list--social-links .list__icon--social:hover path {
  fill: var(--color-pink);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
}
.navbar__logo {
  width: 120px;
}

@media screen and (min-width: 991px) {
  .navbar {
    padding-top: 2rem;
  }
  .navbar__logo {
    width: 180px;
  }
}
.btn {
  display: inline-block;
  cursor: pointer;
  padding: 0.3rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  min-width: 120px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
}
.btn.btn--primary {
  background-color: var(--color-pink);
  color: white;
  padding: 0.6rem 2rem;
}
.btn.btn--primary:hover {
  background-color: rgba(255, 82, 191, 0.7);
}
.btn.btn--secondary {
  background-color: white;
  color: var(--color-very-dark-cyan);
}
.btn.btn--secondary:hover {
  color: var(--color-grayish-blue);
}

@media screen and (min-width: 768px) {
  .btn {
    padding: 0.5rem 1.5rem;
    min-width: 150px;
    border-radius: 30px;
  }
  .btn.btn--primary {
    padding: 1rem 4rem;
  }
}

/*# sourceMappingURL=main.css.map */
