.list {
    list-style: none;
    padding-left: 0;

    li {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
    }

    li:not(:last-of-type) {
        margin-bottom: 1rem;
    }

    &__link {
        color: rgba(white,.8);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__icon {
        margin-top: .3rem;
    }

    &.list--social-links {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .list__icon--social {
            border: 1px solid rgba(white,.8);
            border-radius: 50%;
            padding: .5rem;
            width: 35px;
            height: 35px;

            path {
                fill: white;
            }

            &:hover {
                border-color: var(--color-pink);

                path {
                    fill: var(--color-pink);
                }
            }
            
        }
           
    }


}